$chatting-float-size: calc(20px + 8vh);

html,
body,
#app {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
}

.chat-modal {
  &.modal {
    position: fixed;
    bottom: $chatting-float-size;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 1rem 0.1rem #00000056;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
  }
  &.title {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    &::before {
      content: "[NPC]";
      margin-right: 1rem;
      color: #5441ff;
    }
    color: #6d6d6d;
    margin-bottom: 2rem;
  }
  &.content-wrap {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    .profile {
      outline: none;
      border: none;
      width: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .content {
      flex: 1;
      font-size: 1.5rem;
      font-weight: 200;
      min-height: 150px;
      max-height: 200px;
      overflow: auto;
      &::after {
        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 1;
          }
          51% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
        
        content: "";
        display: inline-block;
        width: 10px;
        height: 1em;
        margin-left: 0.3rem;
        background-color: #56565656;
        animation: blink 1s linear both infinite;
        -webkit-animation: blink 1s linear both infinite;
      }
    }
  }

  &.btn-wrap {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;

    .exit-btn,
    .next-btn {
      cursor: pointer;

      color: #ffffff;
      outline: none;

      border: none;
      padding: 0.5rem 0.8rem;

      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }

    .exit-btn {
      background-color: #ff4f5e;
      &::before {
        content: "exit";
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .next-btn {
      background-color: #4f6fff;
      &::before {
        content: "next";
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
