$chatting-float-size: calc(20px + 8vh);

@mixin transition($second) {
  transition: $second ease-in-out;
  -webkit-transition: $second ease-in-out;
  -moz-transition: $second ease-in-out;
  -ms-transition: $second ease-in-out;
  -o-transition: $second ease-in-out;
}

@mixin borderRadius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin centered($x, $y) {
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(48, 48, 48);
}

$inventory-cell-gap: 0.5rem;
$inventory-cell-size: 45px;

#inventory {
  box-shadow: 0 0 0.5rem 0.5rem #00000026;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 65%;
  z-index: 10000000;

  display: flex;
  flex-direction: column;
  gap: $inventory-cell-gap;
  padding: 1rem;

  #inventory-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    #inventory-title {
      font-size: 0.85rem;
      font-weight: 700;
    }
    #inventory-exit-btn {
      cursor: pointer;
      font-size: 0.55rem;
      border: none;
      padding: 0.5rem;
      background-color: #56565600;

      @include borderRadius(999px);
      @include transition(150ms);

      &:hover {
        background-color: #56565626;
      }
    }
  }

  @include borderRadius(0.5rem);
  @include centered(-50%, -50%);

  .row {
    display: flex;
    gap: $inventory-cell-gap;

    .cell {
      @include transition(150ms);
      @include borderRadius(0.3rem);
      user-select: none;

      &.item {
        font-size: 0.6rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.empty {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #56565626;

        &::before {
          content: "empty";
          display: inline-block;
          font-size: 0.5rem;
          font-weight: 200;
          color: #56565656;
        }
      }

      &.lock {
        background-color: #565656;
      }

      &:not(.lock):hover {
        box-shadow: 0 0 0 0.3rem #371ef5a6;

        // filter: brightness(0.85);
        // -webkit-filter: brightness(0.85);
      }

      width: $inventory-cell-size;
      height: $inventory-cell-size;
      border: 1px solid #565656a6;

      &.select {
        background-color: #a993ff56;
        box-shadow: 0 0 0 0.3rem #371ef5a6;
      }
    }
  }
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: open 150ms ease-in-out both;
  -webkit-animation: open 150ms ease-in-out both;
}

#joystick {
  $scale: 5;
  $ball-size: 8;
  $joystick-size: 20;
  background-color: #ffffff56;
  border: 3px solid #ffffff9c;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: $scale * $joystick-size + px;
  height: $scale * $joystick-size + px;
  @include borderRadius(99999px);

  #ball {
    position: absolute;
    top: 50%;
    left: 50%;
    @include centered(-50%, -50%);
    background-color: #ffffffac;

    width: $scale * $ball-size + px;
    height: $scale * $ball-size + px;

    border-radius: 99999px;
    -webkit-border-radius: 99999px;
    -moz-border-radius: 99999px;
    -ms-border-radius: 99999px;
    -o-border-radius: 99999px;
  }
}

.chat-modal {
  &.modal {
    position: fixed;
    bottom: $chatting-float-size;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 1rem 0.1rem #00000056;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    @media (min-width: 0px) and (max-width: 376px) {
      width: 80%;
    }
    @media (min-width: 376px) and (max-width: 568px) {
      width: 75%;
    }
  }
  &.title {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    &::before {
      content: "[NPC]";
      margin-right: 1rem;
      color: #5441ff;
    }
    color: #6d6d6d;
    margin-bottom: 2rem;

    @media (min-width: 0px) and (max-width: 376px) {
      font-size: 1.2rem;
    }
    @media (min-width: 376px) and (max-width: 568px) {
      font-size: 1.1rem;
    }
  }
  &.content-wrap {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    .profile {
      outline: none;
      border: none;
      width: 150px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      @media (min-width: 0px) and (max-width: 376px) {
        width: 80px;
      }
      @media (min-width: 376px) and (max-width: 568px) {
        width: 70px;
      }
    }
    .content {
      flex: 1;
      font-size: 1.5rem;
      font-weight: 200;
      min-height: 150px;
      max-height: 200px;
      overflow: auto;
      &::after {
        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 1;
          }
          51% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }

        content: "";
        display: inline-block;
        width: 10px;
        height: 1em;
        margin-left: 0.3rem;
        background-color: #56565656;
        animation: blink 1s linear both infinite;
        -webkit-animation: blink 1s linear both infinite;
      }
      @media (min-width: 0px) and (max-width: 376px) {
        font-size: 1rem;
        min-height: 80px;
        max-height: 120px;
      }
      @media (min-width: 376px) and (max-width: 568px) {
        font-size: 0.95rem;
        min-height: 70px;
        max-height: 100px;
      }
    }
  }

  &.btn-wrap {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;

    .exit-btn,
    .next-btn {
      cursor: pointer;

      color: #ffffff;
      outline: none;

      border: none;
      padding: 0.5rem 0.8rem;

      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }

    .exit-btn {
      background-color: #ff4f5e;
      &::before {
        content: "exit";
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .next-btn {
      background-color: #4f6fff;
      &::before {
        content: "next";
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
  }
}
